{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}{% endblock %}</title>
 <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
 <div id="header">
 <span class="logo">Bookmarks</span>
 </div>
<div id="content">
 {% block content %}
 {% endblock %}
 </div>
</body>
</html>
