{% extends "base.html" %}
{% block title %}Регистрация аккаунта{% endblock %}
{% block content %}
 <h1>Регистрация аккаунта</h1>
 <p>Пожалуйста зарегистрируйтесь, используя следующую форму</p>
 <form method="post">
 {{ user_form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Create my account"></p>
 </form>
{% endblock %}