{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
 <h1>Добро пожаловать, {{ new_user.first_name }}!</h1>
 <p>
 Ваш аккаунт был успешно создан
 Теперь вы можете <a href="{% url "login" %}">войти</a>.
 </p>
{% endblock %}