{% extends "base.html" %}
{% block title %}Выход{% endblock %}
{% block content %}
    <h1>Выход</h1>
    <p>
        Вы успешно вышли из аккаунта.
        Вы можете <a href="{% url "login" %}">войти снова</a>.
    </p>
{% endblock %}