{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
    <h1>Вход</h1>
    {% if form.errors %}
        <p>
            Имя пользователя или пароль не верны.
            Попробуйте снова
        </p>
    {% else %}
        <p>
            Пожалуйста, воспользуйтесь следующей формой , чтобы войти:
            Если у вас нет аккаунта, то <a href="{% url "register" %}">зарегистриуйтесь тут</a>
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Log-in"></p>
        </form>
    </div>
{% endblock %}