{% extends "base.html" %}

{% block title %}BooksForMarks{% endblock %}
{% block content %}
    <h1>BookS</h1>
    {%  for book in books%}
    <h2>
            <a href="{{book.get_absolute_url}}">
                {{ book.title }}
            </a>
    </h2>
        <img src="{{ book.image.url }}", width="100", height="150">
    <p class="date">
    Written by {{ book.author }}
    </p>
    {{ book.description|truncatewords:30|linebreaks }}
    {% endfor %}
{% endblock %}