{% extends "base.html" %}

{% block title %} {{ book.title }} {% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <img src="{{ book.image.url }}" , width="100" , height="150">
    <p class="date">Published at {{ book.created }}</p>
    <p>Автор-{{ book.author }}</p>
    {{ book.description|linebreaks }}
    {% for comment in book.book_comments.all %}
        <div class="comment">
            <p class="info">
                Комментарий {{ forloop.counter }} оставлен {{ comment.username }}
                {{ comment.created }}
            </p>
            {{ comment.body_description|linebreaks }}
            {% if user.id == comment.username.id %}
                <a href="{% url 'book:edit' comment.pk  %}" methods="post"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                <a href="{% url 'book:delete' comment.pk %}">Delete</a>

            {% endif %}
        </div>
    {% empty %}
        <p>Пока что никто не оставил комментариев</p>
    {% endfor %}
    {% include "books/includes/comment_form.html" %}
{% endblock %}