{% extends "base.html" %}
{% block title %}Добавление комментария{% endblock %}
{% block content %}
 {% if comment %}
 <h2>Ваш комментарий добавлен.</h2>
 <p><a href="{{ book.get_absolute_url }}">Назад к посту</a></p>
 {% else %}
 {% include "books/includes/comment_form.html" %}
 {% endif %}
{% endblock %}