<h2>Добавить новый комментарий</h2>
<form action="{% url 'book:book_comments' book.id %}" method="post">
    {{ form }}
 {% csrf_token %}
 <p><input type="submit" value="Добавить комментарий"></p>
</form>