{% extends "base.html" %}
{% block title %}Измените комментарий{% endblock %}
{% block content %}
    <form action="{% url 'book:edit' comment.pk %}" method="post">
        {{ form }}
        {% csrf_token %}
        <p><input type="submit" value="Добавить комментарий"></p>
    </form>
{% endblock %}