{% extends "base.html" %}
{% block title %}Поиск книг{% endblock %}
{% block content %}
    <h1>Введите для название книги или автора для поиска</h1>
    <form action="{% url 'search:search_result' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
{% endblock %}

