{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block content %}
<h1>Search Results</h1>

    <ul>
        {% for book in object_list %}
            <li>
               {{ book.title }} {{ book.author }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}