{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <span class="logo">Bookmarks</span>
    <ul class="menu">
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url "dashboard" %}">Bookboard</a>
             <a href="{% url "search:test_view" %}">Search</a>
    </ul>
    <span class="user">
 {% if request.user.is_authenticated %}
     Hello world! {{ request.user.first_name|default:request.user.username }},
     <a href="{% url "logout" %}">Выход</a>
 {% else %}
     <a href="{% url "login" %}">Вход</a>
 {% endif %}
 </span>
    <div id="content">
        {% block content %}
            <a href="{book.get_absolute_url}">{{ book.title }}</a>
        {% endblock %}
    </div>
</div>
</body>
</html>
